---
title: work
permalink: /work/
---

<h1>work</h1>

<h2>essays</h2>
<ul>
  {% for essay in site.essays %}
  <a href="{{ site.baseurl}}{{ essay.url }}">
    <li class="essay-snippet">
      <h2>{{ essay.essay-question }}</h2>
      <p>{{ essay.title }}</p>
    </li>
    </a>
  {% endfor %}
</ul>

<h2>design</h2>
<ul>
  {% for design in site.designs %}
  <a href="{{ site.baseurl}}{{ design.url }}">
    <li class="design-snippet">
      <h2>{{ design.title }}</h2>
      <p>{{ design.excerpt }}</p>
    </li>
    </a>
  {% endfor %}
</ul>

<h2>other</h2>
<ul>
  {% for otherwork in site.otherwork %}
  <a href="{{ site.baseurl}}{{ otherwork.url }}">
    <li class="other-snippet">
      <h2>{{ otherwork.title }}</h2>
      <p>{{ otherwork.excerpt }}</p>
    </li>
    </a>
  {% endfor %}
</ul>
